.green-cart-nav {
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}

.green-cart-nav-section {
    display: flex;
    align-items: center;
}

.green-cart-nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.green-cart-nav-list li {
    margin-right: 20px;
}

.green-cart-nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.green-cart-nav a:hover {
    color: rgb(6, 240, 14);
}

.button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(6, 240, 14);
}

.popover_trigger_nav {
    position: relative;
    display: flex;
}

.popover_content_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    color: black;
    font-weight: 500;
    background-color: #ffffff;
    transform: translate(-50%, 30%);
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    display: block;
    z-index: 2;
    text-align: center;
}

.banner_crop {
    width: 250px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.triangle {
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.got_it {
    background-color: rgb(141, 205, 205);
    color: black;
    padding: 10px 30px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.got_it:hover {
    background-color: rgb(6, 240, 14);
}

/* Responsive styles */
@media (max-width: 768px) {
    .green-cart-nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    
    .green-cart-nav-section {
        flex-direction: column;
        width: 100%;
    }

    .green-cart-nav-list {
        flex-direction: column;
        align-items: center;
    }

    .green-cart-nav-list li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .green-cart-nav {
        padding: 10px 5px;
    }

    .green-cart-nav-section {
        align-items: flex-start;
    }

    .green-cart-nav-list {
        margin: 10px 0;
        padding: 0;
    }

    .green-cart-nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .button {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}
